.bulletContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37px;
  cursor: pointer;

  .bulletFrame {
    width: 100%;
  }

  .bullet {
    width: 23px;
    position: absolute;
    z-index: 1;
  }
}
