.videoElement {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 21px 20px;
  border-radius: 8px;
  width: 100%;

  background-image: linear-gradient(180deg, rgba(255, 158, 47, 0.1) 0%, rgba(158, 47, 255, 0.1) 100%);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  .rightContainer {
    display: flex;
    gap: 12px;
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h1 {
      font-family: 'Arimo';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 95.52%;
      text-align: right;
      letter-spacing: 0.01em;
      color: #ffffff;
    }

    p {
      font-family: 'Arimo';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 95.52%;
      text-align: right;
      letter-spacing: 0.01em;
      color: #ffffff;
    }
  }

  .videoLengthContainer {
    p {
      font-family: 'Arimo';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 95.52%;
      text-align: right;
      letter-spacing: 0.01em;
      color: #ffffff;
    }
  }
}
