.editButton {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 140px;

  background: linear-gradient(264.09deg, #9e2fff -19.41%, #ff9e2f 94.7%);
  border-radius: 8px;
  padding: 10px 37px;
  height: fit-content;
}
