.courseItem {
  background: linear-gradient(270deg, rgba(158, 47, 255, 0.1) 0%, rgba(255, 158, 47, 0.1) 100%);
  border-radius: 8px;
  padding: 10px 20px;

  display: flex;
  gap: 30px;
  justify-content: space-between;

  @media (max-width: 768px) {
    gap: 10px;
  }

  img {
    width: 206px;
    height: auto;

    @media (max-width: 525px) {
      width: 103px;
      height: 91px;
    }
  }

  .courseData {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
      font-family: $font;
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 95.52%;
      text-align: right;
      letter-spacing: 0.01em;
      color: #deceec;

      margin-bottom: 24px;

      @media (max-width: 768px) {
        font-size: clamp(25px, 8vw, 32px);
      }
    }

    button {
      background: linear-gradient(264.09deg, #9e2fff -19.41%, #ff9e2f 94.7%);
      border-radius: 8px;
      width: 100%;
      padding: 15px 0;
      margin-top: 10px;

      font-family: $font;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 67.99%;
      color: #000000;
    }
  }
}
