.signIn {
  display: flex;
  justify-content: center;
  align-items: center;

  .formContainer {
    background: linear-gradient(264.3deg, #ff9e2f -168.03%, #9e2fff 100%);
    border-radius: 8px;
    width: 310px;
    margin-top: 200px;
    padding: 25px;

    h1 {
      text-align: center;
      font-family: 'Inter', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 36px;
      color: #ffffff;

      margin-bottom: 42px;
    }

    .form {
      display: flex;
      flex-direction: column;

      label {
        font-family: 'Inter', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #ffffff;

        margin-bottom: 5px;
      }

      input {
        background: rgba(9, 4, 15, 0.3);
        border-radius: 8px;
        padding: 19px 14px;
        border: unset;
      }

      input:first-of-type {
        margin-bottom: 18px;
      }

      input:focus {
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 0 0 0 3px #a032fb;
      }

      input::placeholder {
        font-family: 'Inter', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 12px;
        color: #09040f;
        opacity: 0.8;
      }

      input:focus {
        outline: none;
      }

      a {
        font-family: 'Arimo', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        text-decoration-line: underline;
        color: #ff9e2f;

        text-align: end;
        margin-top: 4px;
      }

      button {
        background: #ff9e2f;
        border-radius: 8px;
        padding: 15px;

        margin-top: 37px;

        font-family: 'Arimo', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        color: #09040f;
      }
    }
  }
}
