.contents {
  margin-top: 45px;

  @media (max-width: 768px) {
    margin-top: 0;
  }

  .swiper {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }

  .buttonsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
}
