.settings {
  display: flex;
  gap: 65px;

  .sidebar {
    display: flex;
    flex-direction: column;

    h2 {
      font-family: $font;
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 95.52%;

      text-align: right;
      letter-spacing: 0.01em;

      background: linear-gradient(270deg, #9e2fff 0%, #ff9e2f 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

    button {
      font-family: $font;
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 95.52%;

      text-align: right;
      letter-spacing: 0.01em;

      color: rgba(214, 198, 228, 0.76);
    }
  }

  .formContainer {
    width: 100%;

    .buttonContainer {
      display: flex;
      justify-content: end;

      button {
        background: linear-gradient(264.09deg, #9e2fff -19.41%, #ff9e2f 94.7%);
        border-radius: 8px;
        padding: 10px 30px;
        margin: 52px 0 0 0;
      }
    }
  }
}
