.settings {
  display: flex;
  gap: 65px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 0;
  }

  .sidebar {
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
      align-items: center;
    }

    h2 {
      font-family: $font;
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 95.52%;

      text-align: right;
      letter-spacing: 0.01em;

      background: linear-gradient(270deg, #9e2fff 0%, #ff9e2f 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;

      margin-bottom: 59px;
      width: fit-content;
    }

    .buttons {
      display: flex;
      flex-direction: column;
      gap: 21px;

      @media (max-width: 768px) {
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 40px;
        width: 100%;
      }

      button {
        font-family: $font;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 95.52%;

        text-align: right;
        letter-spacing: 0.01em;

        color: rgba(214, 198, 228, 0.76);

        @media (max-width: 768px) {
          font-size: clamp(25px, 8vw, 32px);
        }
      }
    }
  }

  .formContainer {
    width: 100%;

    .buttonContainer {
      display: flex;
      justify-content: end;

      button {
        background: linear-gradient(264.09deg, #9e2fff -19.41%, #ff9e2f 94.7%);
        border-radius: 8px;
        padding: 10px 30px;
        margin: 52px 0 0 0;
      }
    }
  }
}
