@import '../../styles/variables.scss';

.navbar {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  grid-column-gap: 51px;

  color: $font-white;
  padding: 36px 0;

  .logo {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}
