@import '../../styles/variables.scss';

.navbar {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  grid-column-gap: 51px;

  color: $font-white;
  padding: 18px 0 36px 0;

  @media (max-width: 768px) {
    grid-template-columns: 1fr auto;
    grid-column-gap: unset;
  }

  .logo {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;

    h1 {
      @media (max-width: 768px) {
        font-size: 27px;
      }
    }

    img {
      width: 30px;
    }
  }
}
