.videoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;

  .video {
    border-radius: 8px;
    height: 100%;
    width: 100%;
  }

  img {
    position: absolute;
  }
}
