.usersProducts {
  h2 {
    font-family: $font;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 95.52%;
    text-align: right;
    letter-spacing: 0.01em;
    color: #9e2fff;

    margin-bottom: 25px;
  }

  .productsBlock {
    display: grid;
    grid-template-columns: repeat(auto-fit, 465px);
    gap: 30px;
  }
}
