.book {
  display: grid;
  grid-template-columns: 30vw 50vw;
  justify-content: space-between;

  .contents {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    height: 60vh;

    h2 {
      margin-bottom: 23px;
    }

    .colorfulFont {
      background: linear-gradient(270deg, #9e2fff 0%, #ff9e2f 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

    .headers {
      display: flex;
      flex-direction: column;
      gap: 17px;

      flex-grow: 1;
      overflow-y: scroll;

      h3 {
        color: #deceec;
        width: fit-content;
        font-size: 2.5vw;
      }

      button {
        width: fit-content;
      }
    }
  }

  .bookWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .document {
      width: 100%;
    }

    .page {
      canvas {
        width: unset !important;
        height: unset !important;
        max-height: 70vw !important;

        @media (min-width: 1024px) {
          max-height: 65vw !important;
        }

        @media (min-width: 1200px) {
          max-height: 55vw !important;
        }

        @media (min-width: 1440px) {
          max-height: 45vw !important;
        }

        @media (min-width: 1800px) {
          max-height: 35vw !important;
        }
      }
    }
  }

  .pageCounter {
    background: linear-gradient(270deg, #9e2fff 0%, #ff9e2f 100%);
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    padding: 5px;
    margin-bottom: 20px;

    .arrow {
      $arrowSize: 14px;

      width: 0;
      height: 0;
      border-top: $arrowSize solid transparent; /* adjust size as needed */
      border-bottom: $arrowSize solid transparent; /* adjust size as needed */
      border-right: $arrowSize solid black; /* adjust color as needed */
    }

    .pageNumber {
      background: #09040f;
      border-radius: 5px;
      padding: 12px 13px;

      font-family: $font;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 67.99%;
      text-align: right;
      color: #deceec;

      width: fit-content;
    }
  }

  .notes {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;

    .addNoteButton {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 15px 0;
      gap: 10px;
      width: 100%;

      background: linear-gradient(264.09deg, #9e2fff -19.41%, #ff9e2f 94.7%);
      border-radius: 8px;

      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 67.99%;
      color: #000000;
    }

    .notesList {
      width: 100%;
      margin-top: 60px;
      max-height: 600px;
      overflow-y: scroll;

      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}

.switcherWrapper {
  .swiper {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }

  .buttonsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    .swiperButton {
      padding: 15px 0;
      background: linear-gradient(264.09deg, #9e2fff -19.41%, #ff9e2f 94.7%);
      border-radius: 8px;

      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 67.99%;
      color: #000000;
    }
  }
}
