.book {
  display: flex;
  justify-content: space-between;
  gap: 30px;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column-reverse;
  }

  .contents {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    height: 60vh;

    h2 {
      margin-bottom: 23px;
    }

    .colorfulFont {
      background: linear-gradient(270deg, #9e2fff 0%, #ff9e2f 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }

  .bookWrapper {
    border-radius: 8px;
    width: 100%;
    height: fit-content;

    @media (max-width: 768px) {
      min-height: 538px;
    }

    @media (max-width: 425px) {
      min-height: 433px;
    }

    @media (max-width: 375px) {
      min-height: 382px;
    }

    @media (max-width: 320px) {
      min-height: 367px;
    }

    .document {
      width: 100%;
    }

    .page {
      display: flex;
      justify-content: end;

      @media (max-width: 768px) {
        justify-content: center;
      }

      canvas {
        width: unset !important;
        height: unset !important;

        @media (max-width: 768px) {
          width: 70% !important;
          max-height: unset !important;
        }

        @media (max-width: 425px) {
          width: 90% !important;
        }

        @media (max-width: 320px) {
          width: 90% !important;
        }

        max-height: 70vw !important;

        @media (min-width: 1024px) {
          max-height: 65vw !important;
        }

        @media (min-width: 1200px) {
          max-height: 55vw !important;
        }

        @media (min-width: 1440px) {
          max-height: 45vw !important;
        }

        @media (min-width: 1800px) {
          max-height: 35vw !important;
        }
      }
    }
  }
}

.switcherWrapper {
  .swiper {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }

  .buttonsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;

    .swiperButton {
      padding: 15px 0;
      background: linear-gradient(264.09deg, #9e2fff -19.41%, #ff9e2f 94.7%);
      border-radius: 8px;

      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 67.99%;
      color: #000000;
    }
  }
}
