.settingsForm {
  h1 {
    font-family: $font;
    font-style: normal;
    font-weight: 400;
    font-size: clamp(25px, 8vw, 32px);
    line-height: 95.52%;

    text-align: center;
    letter-spacing: 0.01em;

    color: rgba(255, 255, 255, 0.76);

    margin-bottom: 37px;
  }

  .containers {
    border: 3px solid;
    border-image: linear-gradient(270deg, rgba(158, 47, 255, 1), rgba(255, 158, 47, 1)) 1;
    border-image-slice: 1;
    border-radius: 8px;

    padding: 33px;
    background: linear-gradient(270deg, rgba(158, 47, 255, 0.1) 0%, rgba(255, 158, 47, 0.1) 100%);
  }

  .header {
    display: flex;
    justify-content: space-between;
  }

  .personalInfo {
    display: flex;
    flex-direction: column;
    margin-bottom: 69px;

    .personalInputs {
      display: flex;
      gap: 30px;

      @media (max-width: 768px) {
        flex-direction: column;
      }
    }
  }

  h2 {
    font-family: $font;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: right;

    color: #ffffff;
    margin-bottom: 37px;
  }

  .socialMedia {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
